<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BaseLibS" version="1.6.0.346" targetFramework="net461" />
  <package id="Microsoft.Windows.Shell" version="3.0.1.0" targetFramework="net461" />
  <package id="NUnit" version="3.8.1" targetFramework="net461" />
  <package id="PerseusApi" version="1.6.0.279" targetFramework="net461" />
</packages>