<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BaseLib" version="1.6.0.313" targetFramework="net45" />
  <package id="BaseLibS" version="1.6.0.313" targetFramework="net45" />
  <package id="PerseusApi" version="1.6.0.229" targetFramework="net45" />
  <package id="PerseusLibS" version="1.6.0.1306" targetFramework="net45" />
</packages>