<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BaseLib" version="1.6.0.346" targetFramework="net45" />
  <package id="BaseLibS" version="1.6.0.346" targetFramework="net45" />
  <package id="Microsoft.Windows.Shell" version="3.0.1.0" targetFramework="net45" />
  <package id="PerseusApi" version="1.6.0.279" targetFramework="net45" />
  <package id="PerseusLibS" version="1.6.0.1468" targetFramework="net45" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net45" />
</packages>